<template name="Item_admin">
  <article class="item-admin">
		<div class="item-admin-img">
			<a href="/menu/{{_id}}"><img src="{{photo}}" alt="" /></a>
		</div>
		<div class="item-admin-name-desc">
			<div class="item-admin-name">
				<a href="/menu/{{_id}}"><h3>{{name}}</h3></a>
			</div>
			<div class="item-admin-desc">
				<p>{{description}}</p>
			</div>
		</div>
		<div class="item-admin-warnings">
			{{#each warning in trueWarnings}}
				{{warning}}
			{{/each}}
		</div>
		<div class="item-admin-attributes">
			{{#each attribute in trueAttributes}}
				{{attribute}}
			{{/each}}
		</div>
  	<button id="Remove">REMOVE ITEM</button>
	</article>
</template>
