// GillSans Light
@font-face {
  font-family: 'Gill Sans';
  src: url('/font/GillSans/GillSans-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

// GillSans LightItalic
@font-face {
  font-family: 'Gill Sans';
  src: url('/font/GillSans/GillSans-LightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

// GillSans Normal
@font-face {
  font-family: 'Gill Sans';
  src: url('/font/GillSans/GillSans.ttf');
  font-weight: 400;
  font-style: normal;
}

// GillSans Italic
@font-face {
  font-family: 'Gill Sans';
  src: url('/font/GillSans/GillSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

// GillSans SemiBold
@font-face {
  font-family: 'Gill Sans';
  src: url('/font/GillSans/GillSans-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

// GillSans SemiBoldItalic
@font-face {
  font-family: 'Gill Sans';
  src: url('/font/GillSans/GillSans-SemiBoldItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

// GillSans Bold
@font-face {
  font-family: 'Gill Sans';
  src: url('/font/GillSans/GillSans-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

// GillSans BoldItalic
@font-face {
  font-family: 'Gill Sans';
  src: url('/font/GillSans/GillSans-BoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}