<template name="Cart">
	<div id="cart" class="animated out">
		<div class="cart-holder">
		{{#unless processing}}
			<div class="cart-header">
				<p>Your Items</p>
			</div>
			<div class="cart-preview">
				{{#if cartItems}}
					<ul>
						{{#each cartItems}}
							{{> CartItem}}
						{{/each}}
					</ul>
				{{else}}
					<p>Your cart is empty!</p>
				{{/if}}
			</div>
			<div class="message-bar">
			</div>
			<div class="cart-footer">
				<div class="cart-subtotal">
					<p>Subtotal: ${{subtotal}}</p>
				</div>
				<button id="checkout" class="btn-checkout ready">Checkout</button>
			</div>
		{{/unless}}
		</div>
	</div>
</template>