<template name="signUp_Modal">
	<div id="signUpModal" class="modal">
		<div class="modal-background">
		  <span class="close">×</span>
		  <div class="modal-content">
		  	<form id="SignUpModalForm">
			  	<p class="title">We’re excited to get you Fed!</p>
		  		
		  		<p class="subtitle">But first, please create an account</p>
		  		
		  		<div class="inputs">
				  	<input type="text" class="userEmail" name="userEmail" placeholder="Email Address" required>
				  	<input type="password" class="pw" name="pw" placeholder="Create a password" required="">
				  	<input type="number" class="zip number" name="zip" placeholder="Zip Code" required>
				  </div>
			  	
			  	<div class="signUp-errors"></div>
			  	
			  	<button id="modal-button" type="submit" form="SignUpModalForm" class="btn-primary">Continue</button>
			  </form>
			 </div>
	  </div>
	</div>
</template>