<template name="Trial_signup">
  <h1 class="title-auth">Welcome to Fed!</h1>
  <p class="subtitle-auth">Sign up to get started!</p>
  <div class="at-pwd-form">
    <form id="signup">
      <div id="Errors"></div>
      <div class="input">
        <input type="email" name="emailAddress" class="form-control" placeholder="Email Address" required>
      </div>
      <div class="input">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
      </div>
      <div class="input">
        <input type="tel" name="zipCode" class="form-control" placeholder="Zip Code" required>
      </div>
      <div class="agreeToTerms">
        <input type="checkbox" name="terms" required>
        <label for="terms">Check here to indicate that you have read and agree to our <a href="/terms">Terms and Conditions</a></label>
      </div>
      <button form="signup" type="submit" value="submit" class="btn-primary">Next</button>
    </form>
  </div>
</template>