<template name="Customers_view">
	<div class="customers-view">
		{{#momentum plugin="fade"}}
			<table class="customers-table"> 
				{{#if Template.subscriptionsReady}}
					<tr class="table-header">
						<th>
							Created At
						</th>
						<th>
							Customer ID
						</th>
						<th>
							Name
						</th>
						<th>
							Email
						</th>
						<th>
							Phone
						</th>
						<th>
							Address
						</th>
						<th>
							Amount Spent
						</th>
						<th>
							Stripe ID
						</th>
						<th>
							Last Purchase
						</th>
						<th>
							Subscription
						</th>
						<th>
							Notes
						</th>
					</tr>
					{{#each users}}
						{{> Customer_preview}}
					{{/each}}
				{{else}}
					<p>Loading...</p>
				{{/if}}
			</table>
		{{/momentum}}
	</div>
</template>