<template name="Lander_carousel">
	<div id="Lander-carousel">
			<!-- <div class="lander-slide">
				<h2 class="slogan">Cyber Monday Deal!<br>Save 30% on<br>all gift cards</h2>
				<div class="lander-link-holder">
					<a class="lander-link" href="/gifts">Save Today!</a>
				</div>
				<p class="item-name">Tower of Roasted Veggies</p>
				<img class="lander-img" src="/images/home/2.jpg"/>
			</div> -->
			<div class="lander-slide">
				<h2 class="slogan">Ready to eat<br>nutritious meals<br>made just for you</h2>
				<div class="lander-link-holder">
					<a class="lander-link" href="subscribe">Get Started</a>
				</div>
				<img class="lander-img" src="/images/Fed2.jpg" alt="Fed Pack">
			</div>
			<div class="lander-slide">
				<h1 class="slogan">No shopping.<br>No cooking.<br>No cleaning.</h1>
				<div class="lander-link-holder">
					<a class="lander-link" href="subscribe">Subscribe Today</a>
				</div>
				<p class="item-name">Melon Gazpacho</p>
				<img class="lander-img" src="/images/home/1.jpg"/>
			</div>
			<div class="lander-slide">
				<h2 class="slogan">Eat healthy<br>consistently<br>and you'll notice<br>the difference</h2>
				<div class="lander-link-holder">
					<a class="lander-link" href="packs">Get a Pack</a>
				</div>
				<p class="item-name">Chicken w/ Chipotle Pea Puree</p>
				<img class="lander-img" src="/images/home/3.jpg"/>
			</div>
			<!-- <div class="lander-slide">
				<h2 class="slogan">Now for sale!<br>Check out our snacks</h2>
				<a class="lander-link" href="subscribe">Get Started</a>
				<p class="item-name">Cranberry Energy Bites</p>
				<img class="lander-img" src="/images/home/5.jpg"/>
			</div> -->
		</div>
</template>