<template name="Menu_snack">
	<article class="menu-item">
		<div class="menu-item-img">
			{{#if soldOut}}
				<div class="soldOut">
					<p>Sold Out</p>
				</div>
			{{/if}}
			<img src="{{photo}}" alt="{{name}}" />
		</div>
		<div class="menu-item-name">
			<!-- <a href="/menu/{{_id}}"> --><h3>{{name}}</h3><!-- </a> -->
		</div>
		<div class="menu-item-desc">
			<p>{{description}}</p>
		</div>
		<div class="menu-item-icons">
		</div>
		<div class="menu-item-ingredients">
			<p>
				{{#each ingredients}}
					<span class="ingredient">{{name}} - {{amount}}</span>
				{{/each}}
			</p>
		</div>
		<div class="add-input">
			{{#if soldOut}}
				<button disabled>Sold Out</button>
			{{else}}
				<button class="add-to-cart">Add to cart</button>
			{{/if}}
		</div>
	</article>
</template>
