<template name="Menu_item">
	<article class="menu-item {{attributes}}">
		<a class="item-details" href="#">
			<div class="menu-item-img">
				<img src="{{photo}}" alt="" />
			</div>
			<div class="menu-item-name">
				<h3>{{name}}</h3>
			</div>
		</a>
		<div class="menu-item-desc">
			<p>{{description}}</p>
		</div>
		<div class="menu-item-icons">
		</div>
		<div class="inputs">
			{{#if veganizable}}
				<label><input type="checkbox" class="veganize">Replace chicken w/ Tofu</label>
			{{/if}}
			<div class="counter">
				<button class="remove-from-pack">-</button>
				<input type="number" value="{{tally}}" readonly>
				<button class="add-to-pack">+</button>
			</div>
		</div>
	</article>
</template>
