<template name="Modals">
  <div id="Modal">
    {{#if loading}}
      {{> loader}}
    {{/if}}

    {{#transition wrap="true" in="slideInDown" out="slideOutUp"}}
      {{#if filterMenuOpen}}
        {{> Filters}}
      {{/if}}
    {{/transition}}

    {{#transition wrap="true" in="slideInDown" out="slideOutUp"}}
      {{#if cartOpen}}
        {{> Cart}}
      {{/if}}
    {{/transition}}

    <!-- {{#transition in="fadeIn" out="fadeOut"}}
      {{#if closed}}
        <div id="closed">
          <p>Custom packs are available Sunday at Noon<br>until Wednesday at Midnight each week.<br>
          <a href="/packs">Check out our premade packs!<br><br>CLICK HERE TO VIEW</a></p>
        </div>
      {{/if}}
    {{/transition}}

    {{#transition in="fadeIn" out="fadeOut"}}
      {{#if capped}}
        <div id="capped">
          <h2>Sorry, we're at our capacity for this week!</h2>
          <p>To maintain the highest quality production, and to best serve our subscribers, we're capping our orders for next week's delivery.</p>
          <br>
          <a href="/subscribe">Subscribe today</a>
          <p>to secure your order for the week of December 17th.</p>
          <p>Or if you're a subscriber, <a href="/signin">Sign In</a></p>
        </div>
      {{/if}}
    {{/transition}} -->
  </div>
</template>