<template name="NewItem">
	<div class="new-item-container">
		{{> quickForm id="insertItemForm" collection=items type="method" meteormethod="Meteor.insertItem" class="new-item-form" buttonClasses="sbmtItem" buttonContent="Submit Item"}}
		<!-- <form id="insertItemForm" class="new-item-form" novalidate="novalidate">
		  <div class="form-group" data-required="true">
		    <label for="mGSy9W3NAipm2ApLf" class="control-label">Name</label>
		    <input type="text" name="name" id="mGSy9W3NAipm2ApLf" required="" data-schema-key="name" class="form-control">
		    <span class="help-block"></span>
		  </div>
		  <div class="form-group">
		    <label for="cbdmySBhhvuTqd6Yf" class="control-label">Course</label>
		    <select name="course" id="cbdmySBhhvuTqd6Yf" data-schema-key="course" autocomplete="off" class="form-control">
			    <option value="">(Select One)</option>
			    <option value="Dish">Dish</option>
			    <option value="Snack">Snack</option>
		  	</select>
		    <span class="help-block"></span>
		  </div>
		  <div class="form-group">
		    <label for="NwQREbZ3F5pf6Kh9H" class="control-label">Photo</label>
		    <input type="url" name="photo" id="NwQREbZ3F5pf6Kh9H" data-schema-key="photo" class="form-control">
		  	<span class="help-block"></span>
		  </div>
		  <div class="form-group" data-required="true">
		    <label for="3AWEFr7C473SeQZza" class="control-label">Description</label>
		    <textarea rows="2" class="text-input form-control" name="description" id="3AWEFr7C473SeQZza" required="" data-schema-key="description"></textarea>
		  	<span class="help-block"></span>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">Ingredients</div>
		    <ul class="list-group">
		      <li class="list-group-item autoform-array-item">
		        <div>
		          <div class="autoform-remove-item-wrap">
		            <button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
		          </div>
		          <div class="autoform-array-item-body">
		          	<div class="panel panel-default">
							    <div class="panel-heading">
							      <h3 class="panel-title">Ingredients</h3>
							    </div>
		    					<div class="panel-body">
		    						<div class="form-group" data-required="true">
		    							<label for="DjPuTH7sNpLwSmoA4" class="control-label">Name</label>
		    							<input type="text" name="ingredients.0.name" id="DjPuTH7sNpLwSmoA4" required="" data-schema-key="ingredients.0.name" class="form-control">
		    							<span class="help-block"></span>
		    						</div>
		    						<div class="form-group">
		    							<label for="nNNZSkh2BAshazkdy" class="control-label">Brand</label>
		    							<input type="text" name="ingredients.0.brand" id="nNNZSkh2BAshazkdy" data-schema-key="ingredients.0.brand" class="form-control">
		    							<span class="help-block"></span>
		  							</div>
		  							<div class="form-group">
		  								<label for="wMF4arCLpToBvxwdb" class="control-label">Amount</label>
		  								<input type="number" name="ingredients.0.amount" id="wMF4arCLpToBvxwdb" data-schema-key="ingredients.0.amount" class="form-control">
		  								<span class="help-block"></span>
		  						  </div>
		  						  <div class="form-group">
		  						  	<label for="829tYvJq7NFZTPWSn" class="control-label">Amount unit</label>
		  						  	<input type="text" name="ingredients.0.amountUnit" id="829tYvJq7NFZTPWSn" data-schema-key="ingredients.0.amountUnit" class="form-control">
		  						  	<span class="help-block"></span>
		  							</div>
		  							<div class="form-group">
		  								<label for="Djj6s4HEjRgjmnJ7C" class="control-label">Supplier</label>
		  								<input type="text" name="ingredients.0.supplier" id="Djj6s4HEjRgjmnJ7C" data-schema-key="ingredients.0.supplier" class="form-control">
		  								<span class="help-block"></span>
		  							</div>
		  						</div>
		  				  </div>
		          </div>
		        </div>
		      </li>
		      <li class="list-group-item">
		        <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="ingredients"><span class="glyphicon glyphicon-plus"></span></button>
		      </li>
		    </ul>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">Contains</div>
		    	<ul class="list-group">
		    		<li class="list-group-item autoform-array-item">
		        	<div>
		          	<div class="autoform-remove-item-wrap">
			            <button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
			          </div>
		          <div class="autoform-array-item-body">
		          	<div class="form-group">
		          		<input type="text" name="warnings.0" id="n4yobRGB8R9Kn7ENB" data-schema-key="warnings.0" class="form-control">
		          		<span class="help-block"></span>
		  					</div>
		  				</div>
		        </div>
		      </li>
		      <li class="list-group-item">
		        <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="warnings"><span class="glyphicon glyphicon-plus"></span></button>
		      </li>
		    </ul>
		  </div>
		  <div class="form-group">
		    <label for="7mivyCheSGCyWnHCh" class="control-label">Good for X days</label>
		    <input type="number" name="goodFor_Days" id="7mivyCheSGCyWnHCh" data-schema-key="goodFor_Days" class="form-control">
		    <span class="help-block"></span>
		  </div>
		  <div class="form-group">
		    <div class="checkbox">
			    <label>
			      <input type="checkbox" value="true" name="active" id="uBzuAYHozWJkrz8hg" data-schema-key="active">
			      This week?
			    </label>
			  </div>
			  <span class="help-block"></span>
		  </div>
		  <div class="panel panel-default"> 
		    <div class="panel-heading">
		      <h3 class="panel-title">Nutrition Facts</h3>
		    </div>
		    <div class="panel-body">
		    	<div class="form-group">
		    		<label for="YbqAmPkHhfLFMcawG" class="control-label">Serving Size</label>
		    		<input type="text" name="nutritionFacts.servingSize" id="YbqAmPkHhfLFMcawG" data-schema-key="nutritionFacts.servingSize" class="form-control">
		  			<span class="help-block"></span>
		  		</div>
		  		<div class="form-group">
		  			<label for="ot4zGi7NPwikD5nDN" class="control-label">Calories</label>
		  			<input type="text" name="nutritionFacts.calories" id="ot4zGi7NPwikD5nDN" data-schema-key="nutritionFacts.calories" class="form-control">
		  			<span class="help-block"></span>
				  </div>
				  <div class="form-group">
				  	<label for="aYwti7tRKnpRsgFoq" class="control-label">Total Fat</label>
				  	<input type="text" name="nutritionFacts.totalFat" id="aYwti7tRKnpRsgFoq" data-schema-key="nutritionFacts.totalFat" class="form-control">
				  	<span class="help-block"></span>
		 			</div>
		 			<div class="form-group">
		 				<label for="YDWeJzkpMoD3e66z8" class="control-label">Protein</label>
		 				<input type="text" name="nutritionFacts.protein" id="YDWeJzkpMoD3e66z8" data-schema-key="nutritionFacts.protein" class="form-control">
		 				<span class="help-block"></span>
		  		</div>
		  		<div class="form-group">
		  			<label for="GmqDW4ZKjYqBd86Mb" class="control-label">Total Carbs</label>
		  			<input type="text" name="nutritionFacts.totalCarb" id="GmqDW4ZKjYqBd86Mb" data-schema-key="nutritionFacts.totalCarb" class="form-control">
		  			<span class="help-block"></span>
		  		</div>
		  		<div class="panel panel-default">
		    		<div class="panel-heading">
		      		<h3 class="panel-title">PDVs</h3>
		    		</div>
		    		<div class="panel-body">
		      	</div>
		  		</div>
		  	</div>
		  </div>
		  <div class="form-group">
				<button type="submit" class="sbmtItem">Submit Item</button>
			</div>
		</form> -->
	</div>
</template>