<template name="Order_preview">
	<tr class="order-preview">
		<td class="order-paid-at">
			{{paidAt}}
		</td>
		<td class="order-number">
			{{id}}
		</td>
		<td class="order-stripe-id">
			{{stripe_id}}
		</td>
		<td class="deliv-id">
			{{trackingCode}}
		</td>
		<td class="customer-name">
			{{customer.first_name}} {{customer.last_name}}
		</td>
		<td class="customer-address">
			{{customer.address_line_1}}
			{{customer.address_line_2}}
		</td>
		<td class="customer-borough">
			{{customer.address_city}}
		</td>
		<td class="customer-zipCode">
			{{customer.address_zipcode}}
		</td>
		<td class="customer-phone">
			{{customer.phone}}
		</td>
		<td class="customer-email">
			{{customer.email}}
		</td>
		<td class="status-light">
			{{status}}
		</td>
		<td class="order-items">
			{{packDishes}}
		</td>
		<td class="order-snacks">
			{{packSnacks}}
		</td>
		<td class="delDay">
			{{deliv_day}}
		</td>
		<td class="sale-price">
			{{salePrice}}
		</td>
		<td class="order-price">
			{{packPrice}}
		</td>
		<td class="coupon">
			{{coupon}}
		</td>
		<!-- <td class="more-info">
			
			
			
			<td class="delDay">
				{{customer.preferredDelivDay}}
			</td>
			<td class="readyBy">
				{{readyBy}}
			</td>
		</td> -->
	</tr>
</template>