<template name="Order_preview">
	<tr class="order-preview">
		{{#if Template.subscriptionsReady}}
		<td class="order-paid-at">
			{{paidAt}}
		</td>
		<td class="order-number">
			{{id}}
		</td>
		<td class="order-stripe-id">
			{{stripe_id}}
		</td>
		<!-- <td class="deliv-id">
			{{trackingCode}}
		</td> -->
		<td class="customer-name">
			{{user.first_name}} {{user.last_name}}
		</td>
		<td class="customer-address">
			{{user.address_line_1}}
			{{user.address_line_2}}
		</td>
		<td class="customer-borough">
			{{user.address_city}}
		</td>
		<td class="customer-zipCode">
			{{user.address_zipcode}}
		</td>
		<td class="customer-phone">
			{{user.phone}}
		</td>
		<td class="delivery-zone">
			{{deliveryZone}}
		</td>
		<td class="customer-email">
			{{user.email}}
		</td>
		<td class="status-light">
			{{status}}
		</td>
		<td class="order-items">
			{{#each dish in dishList}}
				{{dish.value}} {{dish.name}}<br>
			{{/each}}
		</td>
		<td class="order-snacks">
			{{#each snack in snackList}}
				<span>{{snack.value}} {{snack.name}}</span>
			{{/each}}
		</td>
		<td class="delDay">
			{{deliv_day}}
		</td>
		<td class="delivFee">
			{{delivFee}}
		</td>
		<td class="saleAmount">
			{{saleAmount}}
		</td>
		<td class="taxAmount">
			{{taxAmount}}
		</td>
		<td class="total">
			{{total}}
		</td>
		<td class="customer-delivComments">
			{{user.deliv_comments}}
		</td>
		<td class="coupon">
			{{coupon}}
		</td>
		{{/if}}
	</tr>
</template>