<template name="Pack_schemas" >
	<div class="pack-schemas">
		<ul>
			{{#each pack in packs}}
				{{>Pack_schema pack}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="Pack_schema">
	<li class="pack-schema {{packName}}">
		<input type="radio" name="plan" id="{{packSize}}" value="{{packName}}">
		<label for="{{packSize}}">
			<div class="pack-size">
				<p class="number">{{packSize}}</p>
				<p class="mpw">meals per week</p>
				<div class="pack-price">
					<p class="value strikethrough">${{packOriginalPrice}}</p>
					<p class="value">${{packPrice}}</p>
				</div>
			</div>
			{{#with packSchema}}
				<div class="plates">
					{{#if (greaterThanZero protein)}}<p>{{protein}} Protein{{greaterThanOne protein}}</p>{{/if}}
					{{#if (greaterThanZero vegetable)}}<p>{{vegetable}} Vegetable{{greaterThanOne vegetable}}</p>{{/if}}
					{{#if (greaterThanZero grain)}}<p>{{grain}} Grain{{greaterThanOne grain}}</p>{{/if}}
					{{#if (greaterThanZero soup)}}<p>{{soup}} Soup{{greaterThanOne soup}}</p>{{/if}}
					{{#if (greaterThanZero salad)}}<p>{{salad}} Salad{{greaterThanOne salad}}</p>{{/if}}
				</div>
			{{/with}}
		</label>
	</li>
</template>

<!-- <template name="Pack_schemas" >
	<div class="pack-schemas">
		<div class="pack-size-selector">
			<ul>
				{{#each pack in packs}}
					{{>Pack_schema pack}}
				{{/each}}
			</ul>
		</div>
	
		<p class="mpw">meals per week</p>
		<div class="pack-price">
			<p class="value strikethrough">${{packOriginalPrice}}</p>
			<p class="value">${{packPrice}}</p>
		</div>
		
		{{#with packSchema}}
			<div class="plates">
				{{#if (greaterThanZero protein)}}<p>{{protein}} Protein{{greaterThanOne protein}}</p>{{/if}}
				{{#if (greaterThanZero vegetable)}}<p>{{vegetable}} Vegetable{{greaterThanOne vegetable}}</p>{{/if}}
				{{#if (greaterThanZero grain)}}<p>{{grain}} Grain{{greaterThanOne grain}}</p>{{/if}}
				{{#if (greaterThanZero soup)}}<p>{{soup}} Soup{{greaterThanOne soup}}</p>{{/if}}
				{{#if (greaterThanZero salad)}}<p>{{salad}} Salad{{greaterThanOne salad}}</p>{{/if}}
			</div>
		{{/with}}
</template>

<template name="Pack_schema">
	<li class="pack-schema {{packName}}">
		<input type="radio" name="plan" id="{{packSize}}" value="{{packName}}">
		<label for="{{packSize}}">
				
				
		</label>
	</li>
</template> -->