<template name="Style_select">
	<div id="Style-select">
		<!-- {{#if pendingSub}}
			<h2>Customize your upcoming pack</h2>
			<div class="style-select-buttons">
				<button class='button pack'>Customize</button>
				<button class='button alacarte'>Go A la carte</button>
			</div>
		{{/if}}

		{{#if created}}
			<h2>Would you like to edit your order?</h2>
			<p>Orders close at Wednesday nights at midnight.</p>
			<div class="style-select-buttons">
				<button class='button pack'>Edit my pack</button>
				<button class='button alacarte'>Edit my items</button>
			</div>
		{{/if}}

		{{#if walkin}} -->
			<h2>How would you like to order?</h2>
			<div class="style-select-buttons">
				<button class='button pack'>Get a pack</button>
				<button class='button alacarte'>A la carte</button>
			</div>
		<!-- {{/if}} -->
	</div>
</template>