<template name="Subscribers_view">
	<div class="subscribers-view">
		{{#momentum plugin="fade"}}
			<table class="subscribers-table"> 
				{{#if Template.subscriptionsReady}}
					<tr class="table-header">
						<th>
							Created At
						</th>
						<th>
							Subscribed At
						</th>
						<th>
							Status
						</th>
						<th>
							Name
						</th>
						<th>
							Email
						</th>
						<th>
							Phone
						</th>
						<th class="delivery-zone">
							Zone
						</th>
						<th>
							Address
						</th>
						<th>
							City
						</th>
						<th>
							Zip Code
						</th>
						<th>
							Delivery Day
						</th>
						<th>
							Diet
						</th>
						<th>
							Restrictions
						</th>
						<th>
							Pack
						</th>
						<th>
							Discount
						</th>
						<th>
							Delivery Fee
						</th>
						<th>
							Subtotal
						</th>
						<th>
							Sales Tax
						</th>
						<th>
							Total
						</th>
						<th>
							Deliv Comments
						</th>
						<th>
							Notes
						</th>
					</tr>
					{{#each subscribers}}
						{{> Subscriber_preview}}
					{{/each}}
				{{else}}
					<p>Loading...</p>
				{{/if}}
			</table>
		{{/momentum}}
	</div>
</template>