<template name="Subscriber_preview">
	<tr class="subscriber-preview  {{processStatus subscriptions.status}}">
		{{#if Template.subscriptionsReady}}
			<td class="created-at">
				{{createdAt}}
			</td>
			<td class="subscribed-at">
				{{subscription.subscribed_at}}
			</td>
			<td class="subscription-status {{processStatus subscriptions.status}}">
				{{subscription.status}}
			</td>
			<td class="customer-name">
				<p>{{first_name}} {{last_name}}</p>
			</td>
			<!-- {{#each email in emailss}} -->
				<td class="customer-emails {{verified}}">
					{{email}}
				</td>
			<!-- {{/each}} -->
			<td class="customer-phone">
				{{phone}}
			</td>
			<td class="delivery-zone">
				<!-- {{deliveryZone}} -->
			</td>
			<td class="address">
				{{address_line_1}}
				{{address_line_2}}
			</td>
			<td class="address_city">
				{{address_city}}
			</td>
			<td class="address_zipcode">
				{{address_zipcode}}
			</td>
			<td class="customer-delivDay">
				{{deliv}}
			</td>
			<td class="customer-diet">
				{{diet}}
			</td>
			<td class="customer-restrictions">
				{{#if restrictions}}
					{{#each restriction in restrictions}}
						{{restriction}}
					{{/each}}
				{{/if}}
			</td>
			<td class="pack">
				{{subscription.item_name}}
			</td>
			<td class="discount">
				{{subscription.percent_off}}
			</td>
			<td class="delivFee">
				{{deliveryFee}}
			</td>
			<td class="saleAmount">
				{{subtotal}}
			</td>
			<td class="taxAmount">
				{{sales_tax}}
			</td>
			<td class="total">
				{{total}}
				{{#if hasCredit}}
					<br>
					-----
					<br>
					*{{hasCredit}}* Credit
				{{/if}}
			</td>
			<td class="customer-delivComments">
				{{deliv_comments}}
			</td>
			<td class="customer-notes">
				{{#if editingNotes}}
					<input type="text" class="customer-notes" name="notes" placeholder="{{notes}}">
				{{else}}
					<a class="edit-customer-notes">{{notes}}</a>
				{{/if}}
			</td>
		{{/if}}
	</tr>
</template>