<template name="Testimonials">
	<div id="carousel">
		<div>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<a href="https://www.yelp.com/biz/get-fed-nyc-brooklyn-2?hrid=o_2FtreSgp3nWQBFvN3zMw&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">
				<p>"The best part about Fed is that the food is fresh and tastes like restaurant quality meals. I hate frozen food meals or leftovers so I was overjoyed to find a food delivery that makes real food that is healthy."</p>
				<p class="author">- Jennifer W</p>
			</a>
		</div>
		<div>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<a href="https://www.yelp.com/biz/get-fed-nyc-brooklyn-2?hrid=QcFs89H6Ve_el2_45jE-mQ&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">
				<p>"I would highly recommend getting Fed - it's like having a personal chef for far less than the cost of getting take-out."</p>
				<p class="author">- Nina Z</p>
			</a>
		</div>
		<div>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<a href="https://www.yelp.com/biz/get-fed-nyc-brooklyn-2?hrid=9maz9XsItsvMiqoHhKXWJQ&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">
				<p>"This is some really good food ya'll. Tickles your soul type good. Ingredients are fresh and the flavors are to die for. Not to exaggerate, but eating healthy has never tasted so right."</p>
				<p class="author">- Tanaka</p>
			</a>
		</div>
		<div>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<a href="https://www.yelp.com/biz/get-fed-nyc-brooklyn-2?hrid=pjpMNp_T4sIosRhHQ_CPYA&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">
				<p>"First, and foremost, the food is GREAT.  Creative yet highly edible, delicious and healthy.  Second...the ordering and delivery is easy.  And for my family, it's super convenient."</p>
				<p class="author">- Amy G</p>
			</a>
		</div>
		<div>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<a href="https://www.yelp.com/biz/get-fed-nyc-brooklyn-2?hrid=0_AHLy3C5PK70DgzuKXtqg&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">
				<p>"My first thought when trying Fed was that it tastes like restaurant quality food. All of it is so good and easy. My favorite thing is eating healthy without trying."</p>
				<p class="author">- Austin B</p>
			</a>
		</div>
		<div>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<i class="fa fa-star" aria-hidden="true"></i>
			<a href="https://www.yelp.com/biz/get-fed-nyc-brooklyn-2?hrid=TdhlNA4r7-Dj1pjlQZSN1A&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">
				<p>"As a business owner, eating healthy is often the hardest part of my job. Fed has definitely upped my eating game! Tasty dishes, delivered in a tight time window....yes please."</p>
				<p class="author">- David W</p>
			</a>
		</div>
	</div>
</template>