<template name="Accounts_Holder">
  <div id="notifications-holder">
    {{#if currentUser}}
      {{#if firstName}}
        <div class="welcome">
          <p>{{firstName}}</p>
          {{#if userMenuOpen}}
            <i class="fa fa-caret-up"></i>
          {{else}}
            <i class="fa fa-caret-down"></i>
          {{/if}}    
        </div>
      {{else}}
        <div class="welcome">
          <p>{{emailLocalPart}}</p>
          {{#if userMenuOpen}}
            <i class="fa fa-caret-up"></i>
          {{else}}
            <i class="fa fa-caret-down"></i>
          {{/if}}
        </div>
      {{/if}}
      <a id="notifications">
        <i class="fa fa-bell-o"></i>
      </a>
      <div id="credit"></div>
    {{else}}
      <div class="sign-in">
        <a href="{{pathFor 'signin'}}">Sign In</a>
      </div>
    {{/if}}
  </div>
  {{#if userMenuOpen}}
    <div id="userMenu">
      <a class="btn-primary" href="/my-account">Settings</a>
      <a class="js-logout btn-primary">Logout</a>
    </div>
  {{/if}}  
</template>