<template name="Side_Nav">
	<div id="sideNav" class="{{sideNavOpen}}">
    <span><img class="close-sideNav" src="/icons/x.png"/></span>
    
    <div class="logo-holder">
      <a href="/" class="logoLink"></a>
    </div>

    {{#if currentUser}}
      <nav id="User-Nav">
        <ul>
          {{#if notSubscribed}}
            <li><a href="/" class="{{currentPage 'App.home'}}" alt="Home">Home</a></li>
          {{else}}
            <li><a href="/my-account" class="{{currentPage 'User.home'}}" alt="My Account">My Account</a></li>
            {{#if showAccountLinks}}
              <ul>
                <li><a href="/settings" class="{{currentPage 'My.settings'}}" alt="Packs">Packs</a></li>
                <li><a href="/my-orders" class="{{currentPage 'Menu.meals'}}" alt="Meals">Meals</a></li>
                <li><a href="/my-subscriptions" class="{{currentPage 'Menu.snacks'}}" alt="Snacks">Snacks</a></li>
                <li><a href="/my-payments" class="{{currentPage 'Menu.drinks'}}" alt="Drinks">Drinks</a></li> 
              </ul>
            {{/if}}
          {{/if}}
          <li><a href="/menu" class="{{currentPage 'Menu.show'}}" alt="Menu">Menu</a></li>
          <li><a href="/market" class="{{currentPage 'Market.show'}}" alt="Market">Market</a></li>
          <li><a href="/gifts" class="{{currentPage 'Gifts'}}" alt="Gifts">Gifts</a></li>
          {{#if notSubscribed}}
            <li><a href="/subscribe" class="{{currentPage 'Subscribe'}}" alt="Subscribe">Subscribe</a></li>
          {{else}}

          {{/if}}
        </ul>
        <ul class="login-buttons">
          <li><a href="/settings" class="{{currentPage 'Settings'}}" alt="Settings">Settings</a></li>
          <li><a href="/support" class="{{currentPage 'Support'}}" alt="Support">Support</a></li>
          <li><a id="logout" href="/" alt="Sign Out">Sign Out</a></li>
        </ul>
      </nav>
    {{else}}
      <nav id="Main-Nav">
        <ul>
          {{#transition in="fadeIn" out="fadeOut"}}
            <li><a href="/" class="{{currentPage 'App.home'}}" alt="Home">Home</a></li>
            <li><a href="/menu" class="shop-menu-link {{currentPage 'Menu.show'}}" alt="Menu">Menu</a></li>
            <li><a href="/market" class="{{currentPage 'Market'}}" alt="Menu">Market</a></li>
            {{#if showMarketLinks}}
              <ul class="menu-link-ul">
                <li><a href="/menu#Meals" class="{{currentPage 'menu#Meals'}}" alt="Meals">Meals</a></li>
                <li><a href="/menu#Snacks" class="{{currentPage 'menu#Snacks'}}" alt="Packs">Snacks</a></li>
                <li><a href="/menu#Drinks" class="{{currentPage 'menu#Drinks'}}" alt="Packs">Drinks</a></li>
                <li><a href="/menu#Packs" class="{{currentPage 'menu#Packs'}}" alt="Packs">Packs</a></li>
              </ul>
            {{/if}}
            <li><a href="/subscribe" class="{{currentPage 'Subscribe'}}" alt="Subscribe">Subscribe</a></li>
            <li><a href="/gifts" class="{{currentPage 'Gifts'}}" alt="Gifts">Gifts</a></li>
            <li><a href="/about-us" class="about-link {{currentPage 'About.us'}}" alt="About">About Us</a></li>
            <li><a href="/support" class="{{currentPage 'Support'}}" alt="Support">Support</a></li>
          {{/transition}}
        </ul>
        <ul class="login-buttons">
          <li><a href="{{pathFor 'signin'}}" class="{{currentPage 'signin'}}" alt="Sign In">Sign In</a></li>
          <li><a href="{{pathFor 'join'}}" class="{{currentPage 'join'}}" alt="Join">Join</a></li>
        </ul>
      </nav>
    {{/if}}
  </div>
</template>