@import '{}/imports/ui/styles/utils.less';

#menu-page {
	background-color: #fff;
	text-align: center;
	bottom: auto !important;

	#menu-view {
		position: fixed;
    top: 54px;
    bottom: 0;
    overflow-y: scroll;
	}

	.header {
		height: 200px;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-left: 3%;
		padding-right: 3%;
		margin-top: 3%;

	  @media screen and (max-width: 950px) {
	  	height: auto;
	  }

		.getPack,
		.edit-pack-cta {
			height: 200px;
			width: 100%;
			max-width: 500px;
			background-image: url("/images/Fed2-2.jpg");
			background-size: cover;
			background-position-y: -30px;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
	    padding: 30px;
	    border-radius: 10px;
	    box-shadow: 3px 3px 3px #999;

	    @media screen and (max-width: 475px) {
				height: 115px;
			}

			p {
				font-size: 2em;
				color: #FFF;
				margin: 0;
				text-shadow: 3px 3px 3px @fgreene;

				@media screen and (max-width: 475px) {
					margin: auto;
				}
			}
		}

		.subscribe-cta {
			display: flex;
			flex-direction: column;

			@media screen and (max-width: 475px) {
        flex-direction: row;
        width: 100%;
				align-items: center;

        p {
    	    font-size: 15px;
			    line-height: 21px;
			    font-weight: 400;
        }
      }

      .hide-mobile {
      	@media screen and (max-width: 475px) {
      		display: none;
      	}
      }

			.toSubscribe {
				padding-right: 10px;
				padding-left: 10px;

				@media screen and (max-width: 475px) {
      		font-size: 20px;
			    height: 50px;
			    margin: 0;
      	}
			}
		}
	}

	.menu-items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;

		h2 {
			text-align: left;
			margin-left: 6px;

			@media screen and (max-width: 475px) {
				margin-left: 0;
				text-align: center;
			}
		}

		#Meals,
		#Snacks,
		#Drinks,
		#Packs {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: left;
		}
	}

	.hr-holder {
		width: 100%;

		hr {
			width: 80%;
			margin-top: 40px;
			margin-bottom: 60px;
		}
	}

	h2 {
		width: 100%;
	}

	.buttons-group {
		width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;

    button {
    	background: @fgreene;
	    color: #fff;
	    border: 1px solid transparent;
	    border-radius: 5px;
	    font-size: 16px;
	    letter-spacing: .5px;
	    padding: 3px 9px;
	    box-shadow: 2px 2px 2px #999;
	    transition: all 400ms;

	    &:hover {
	    	background: #FFF;
	    	color: @fgreene;
	    	border: 1px solid @fgreene;
	    }
    }
	}
}


.showModal {
	display: block !important;
}