<template name="Lander_carousel">
	<div id="Lander-carousel">
		<div class="lander-slide">
			<img class="lander-img" src="/images/Fed2-3.jpg" alt="Fed Pack">
			<div class="lander-text">
				<h2 class="slogan">Ready to eat,<br>nutritious meals<br>made just for you</h2>
				<a class="lander-link" href="menu">Get Started</a>
			</div>
		</div>
		<div class="lander-slide">
			<img class="lander-img" src="/images/home/1.jpg"/>
			<div class="lander-text">
				<h2 class="slogan">No shopping. No cooking. No cleaning.</h2>
				<a class="lander-link" href="subscribe">Subscribe Today</a>
				<p class="item-name">Melon Gazpacho</p>
			</div>
		</div>
		<div class="lander-slide">
			<img class="lander-img" src="/images/home/3.jpg"/>
			<div class="lander-text">
				<h2 class="slogan">What's in your fridge?</h2>
				<a class="lander-link" href="menu">Get a Pack</a>
				<p class="item-name">Chicken w/ Chipotle Pea Puree</p>
			</div>
		</div>
		<div class="lander-slide">
			<img class="lander-img" src="/images/home/5.jpg"/>
			<div class="lander-text">
				<h2 class="slogan">Now for sale!<br>Check out our snacks</h2>
				<a class="lander-link" href="menu">Get Snacking</a>
				<p class="item-name">Cranberry Energy Bites</p>
			</div>
		</div>
		<div class="lander-slide">
			<img class="lander-img" src="/images/home/2.jpg"/>
			<div class="lander-text">
				<h2 class="slogan">Local, sustainable nutrition<br>in just a few clicks.</h2>
				<a class="lander-link" href="/menu">See the menu</a>
				<p class="item-name">Tower of Roasted Veggies</p>
			</div>
		</div>
	</div>
</template>