<template name="Menu_toolbar">
	<div id="menu-toolbar" class="{{filterMenuOpen}}">
		<div id="Filter-menu-toggle">
			{{#if filterMenuOpen}}
        <i class="fa fa-caret-up"></i>
      {{else}}
        <i class="fa fa-caret-down"></i>
      {{/if}}
      <p>Filters</p>
      <div class="active-filters">
      	<p>{{dietFilter}}</p>
      	{{#if userHasRestrictions}}
      		<p>+ {{userHasRestrictions}}</p>
      	{{/if}}
      </div>
		</div>
		
		<div id="Cart-toggle">
			<p>Cart</p>
			{{#if cartOpen}}
        <i class="fa fa-caret-up"></i>
      {{else}}
        <i class="fa fa-caret-down"></i>
      {{/if}}
		</div>
	</div>
</template>