<template name="Orders_sidebar">
	<div id="OrdersSidebar">
		<div class="orderViewOptions">
			{{#if thisWeek}}
				<h1>This Week</h1>
				<button class="allOrders">
					Switch to All
				</button>
			{{else}}
				<h1>All Orders</h1>
				<button class="thisWeeksOrders">
					Switch to This Week
				</button>
			{{/if}}
		</div>
		<div class="itemTallies">
			{{#if showTallies}}
				<button class="hideTallies">
					Hide Tallies
				</button>
				{{#each itemsThisWeek}}
					<div class="menuItem">
						<p>{{count}} {{name}}</p>
					</div>
				{{/each}}
			{{else}}
				<button class="showTallies">
					Show Tallies
				</button>
			{{/if}}
		</div>
		<div class="addOrder">
			<button class="newOrder">
				Create New Order
			</button>
		</div>
		{{#if createOrder}}
		{{/if}}
	</div>
</template>