<template name="Footer">
	<footer id="footer">
    <div class="links">
      <h2>Learn More</h2>
      <nav class="footer-nav">
        <ul>
          <li><a href="/support">FAQs</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/jobs">Jobs</a></li>
        </ul>
      </nav>
    </div>
    <div class="follow">
      <h2>Follow Us</h2>
      <div class="social-icons">
        <a href="https://twitter.com/getfednyc/" class="social twitter"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="https://www.facebook.com/getfednyc" class="social facebook"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="https://www.instagram.com/getfednyc/" class="social insta"><i class="fa fa-instagram"></i> Instagram</a>
      </div>
    </div>
    <div class="contact">
      <h2>Contact Us</h2>
      <p>Email us at <a href="mailto:info@getfednyc.com?Subject=Website%20question">info@getfednyc.com</a>
      <br>or call <a href="tel:347-699-6193" itemprop="telephone">(347) 699-6193</a></p>
    </div>
    <div class="TandC">
    </div>
  </footer>
</template>