@import './utils.less';

#cart {
  position: fixed;
  top: 54px;
  width: 90%;
  right: 1%;
  background-color: #FFF;
  max-width: 375px;
  padding: 10px 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  z-index: 5;

  /*@media screen and (max-width: 645px) {
    top: 110px;
    width: 250px;
  }*/

  .cart-header {
    p {
      margin: 0 auto;
      width: fit-content;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: @fgreene;
      line-height: 20px;
      border-bottom: 1px solid @fgreene;
    }
  }

  .cart-preview {
    position: relative;
    height: 80%;
    min-height: 300px;
    width: 100%;
    margin: 15px auto;
    border: 1px inset #e3eae5;
    background-color: #fbfffb;
    text-align: center;
    overflow-y: scroll;

    p {
      font-weight: 200;
      letter-spacing: 1px;
      font-size: 16px;
    }

    ul {
      .position(absolute, 0,0,0,0);
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;

        .cart-item {
          .cart-item-name {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            p {
              margin: 0 5px;
            }
          }
        }
      }
    }
  }

  .cart-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin-right: auto;
      margin-left: auto;
      width: fit-content;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: @fgreene;
      line-height: 20px;
      padding: 0 10px;
    }

    #checkout {
      border: 1px solid transparent;
      color: #FFF;
      background-color: @fgray;
      border-radius: 5px;

      &.ready {
        color: #c0dbc3;
        background-color: @fgreene;
      }

      @media screen and (max-width: 500px) {
        right: 15%;
      }
    }
  }
}

/*.pack-select {
    margin: 0px auto 20px;


    label {
      font-size: 18px;
      color: @fgreene;
      font-weight: 400;

      select {
        border-radius: 0;
      }
    }
  }

  #changePack {
    background-color: #FFF;
  }

  form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    input {
      display: block;
      margin: 5px;
    }
  }

  .cart-items-list {
    margin-left: 20px;

    h3 {
      margin-bottom: 0;
      color: @fgreene;

      span {
        font-size: 18px;
      }
    }
    p {
      font-size: 15px;
      line-height: 22px;
      margin: 0;
      color: @fgreene;

      &:hover {
        .remove-dish,
        .remove-snack {
          display: inline-block !important;
        }
      }

      .remove-dish,
      .remove-snack {
        display: none;
        background: transparent;
        color: #000;
        border: none;
      }
    }
  }

  #checkout {
    .position(absolute, auto, 18%, 20px, auto);
    border: 1px solid #FFF;
    background-color: transparent;

    &.ready {
      color: #c0dbc3;
      background-color: @fgreene;
      border: 1px solid @fgreene;
    }

    @media screen and (max-width: 500px) {
      right: 15%;
    }
  }*/

/*// Toggle cart on mobile
.cart-open & {
  transform: translate3d(@cart-width, 0, 0);
  opacity: .85;
  right: 0;

  @media screen and (min-width: 40em) {
    // Show cart on desktop, negate .cart-open
    transform: translate3d(0, 0, 0); //reset transform and use position properties instead
    opacity: 1;
    right: @cart-width;
  }
}*/