@import './utils.less';

@column: 3%;

body {
  //.position(absolute, 0, 0, 0, 0);
  // background-image: linear-gradient(to bottom, #315481, #918e82 100%);
}

#container {
  .position(absolute, 0, 0, 0, 0);
  overflow-y: scroll;

  @media screen and (min-width: 60em) {
    padding-left: @column;
    padding-right: @column;
  }

  @media screen and (min-width: 80em) {
    padding-left: 2*@column;
    padding-right: 2*@column;
  }

  // Hide anything offscreen
  // overflow-x: hidden;

  #infoBanner {
    .position(fixed, 100px, 0, auto, 0);
    width: 100%;
    background-color: #0b3f2e;
    text-align: center;
    padding: 1px 10px;
    z-index: 1;

    p {
      color: #FFF;
      margin: 0;
      font-weight: 600;
      font-size: 20px;

      @media screen and (max-width: 700px) {
        font-size: 17px;
      }
      
      @media screen and (max-width: 460px) {
        font-size: 15px;
      }
    }

    a {
      color: #FFF;
      padding: 5px 0;
      text-decoration: none !important;
    

      // @media screen and (max-width: 460px) {
      // }
    }
  }
}

#content-container {
  .position(absolute, 0, 0, 0, 0);
  transition: all 200ms ease-out;
  transform: translate3d(0, 0, 0);
  background: none;
  opacity: 1;
  overflow-y: visible !important;

  @media screen and (max-width: 600px) {
    top: 60px;
  }

  &.uncustomizable {
/*    overflow-y: hidden !important;
*/  }

  .page {
    .position(absolute, 0, 0, 0, @side-nav-width); /* top: 31px if banner */
    background: #fefffa;
    z-index: 0;

    @media screen and (max-width: 600px) { 
      /* top: 30px; if banner */
      left: 0;
    }
  }

  

  .content-scrollable {
    .position(absolute, 0, 0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.new:after {
  content: "NEW";
  font-size: 9px;
  color: @forange;
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  position: relative;
  top: 0;
  right: 0;
}