@import './utils.less';

#menu-page {
	background-color: #fff;
	text-align: center;
	bottom: auto !important;

	.menu-header {
		background-image: url("/images/get_fed_orange.jpg");
		background-position-y: 45%;
		background-position-x: 35%;
	}

	.menu-items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;

		h2 {
			text-align: left;
			margin-left: 6px; 
		}

		#Meals,
		#Snacks,
		#Drinks,
		#Packs {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: left;
		}
	}

	.hr-holder {
		width: 100%;

		hr {
			width: 80%;
			margin-top: 40px;
			margin-bottom: 60px;
		}
	}

	h2 {
		width: 100%;
	}

	.buttons-group {
		width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;

    button {
    	background: @fgreene;
	    color: #fff;
	    border: 1px solid transparent;
	    border-radius: 5px;
	    font-size: 16px;
	    letter-spacing: .5px;
	    padding: 3px 9px;
	    box-shadow: 2px 2px 2px #999;
	    transition: all 400ms;

	    &:hover {
	    	background: #FFF;
	    	color: @fgreene;
	    	border: 1px solid @fgreene;
	    }
    }
	}
}


.showModal {
	display: block !important;
}