@import './utils.less';

.new-item-container {
	background-color: #a6ffa7;
	padding: 15px;

	.form-group {
		display: inline-block;	
	}

	.panel {
		background-color: #cb95da;
		border-radius: 10px;
		padding: 0 10px;
	}
}

.item-admin {
	border: 1px solid #FFF;
	background-color: #e2e2e2;
	display: inline-block;
	width: 45%;
}