/* The Modal (background) */
.modal {
  display: block; /* Shown by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: @nav-height;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0);  Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */

  @media screen and (max-width: 600px) {
    padding-top: @nav-height-m;
  }

  .modal-background {
    .position(absolute, 0,0,0,0);
    background-color: rgba(0,0,0,.3);
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 150px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

    @media screen and (max-width: 600px) {
      top: 68px;
      right: 20px;
    }
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Content */
  .modal-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    padding-top: 5%;
    padding-bottom: 6%;
    display: block;
    width: 80%;
    max-width: 700px;
    background-color: #FFF;

    @media screen and (max-width: 600px) {
      margin-top: 18%;
      padding-bottom: 10%;
    }

    p {
      margin-left: 15px;
      margin-right: 15px;
      text-align: center;
    }

    .title {
      color: @fgreene;
      font-size: 27px;
      font-weight: 600;
      margin-bottom: 5px;

      @media screen and (max-width: 600px) {
        font-size: 19px;
      }
    }

    .subtitle {
      margin-top: 0;
      font-size: 15px;
      margin-bottom: 0;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin: 40px auto;

      @media screen and (max-width: 600px) {
        width: 215px;
      }

      input {
        margin-bottom: 10px;
        line-height: 25px;
        background-color: #eee;
        border: none;
        padding-left: 9px;
      }
    }

    .signUp-errors {
      text-align: center;
    }

    .btw {
      font-size: 14px;
      line-height: 20px;

      @media screen and (max-width: 600px) {
        font-size: 13px;
      }
    }
  }

  

  .alright,
  .sorry {
    color: #FFF;
    // font-family: "Cabin";
    font-size: 5em;
    line-height: 1.3em;
  }

  #zipField {
    background-color: #eee;
    font-size: 19px;
    padding: 5px;
    text-align: center;
  }

 .number::-webkit-inner-spin-button, .number::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
  }

  #modal-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block !important;
  }

  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }

  @keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
  }
}

/* 90% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  #zipField {
    border: 1px solid #ccc;
  }

  .modal-content {
    margin-top: 0;
  }
}