/* The side navigation menu */
#sideNav {
  display: flex;
  flex-direction: column;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: @nav-height-m;
  left: 0;
  background: #bef7cd;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#ffffff, #f8fffb, #e0ffeb, #74ca8b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: width 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  &.sideNavOpen {
    width: 250px;
  }

  @media screen and (min-width: 450px) {
    width: @side-nav-width;
    background: none;
    top: 0;
    padding-top: 0;
  }

  .close-sideNav {
    .position(absolute, 5px, 5px, auto, auto);
    max-width: 30px;

    @media screen and (min-width: 450px) {
      display: none;
    }
  }

  .logo-holder {
    width: @side-nav-width;
    height: 120px;

    a.logoLink {
      .position(absolute, 22px, 0, auto, 27px, 100px, 100px);
      background-image: url("/fed_logo_366732_trans.png") !important;
      background-size: cover;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    @media screen and (max-width: 600px) {
      height: 60px;
      width: 60px;
      top: 0;
      //left: 0;
      //bottom: 0;
      //right: 0;
      //margin: auto;
    }   
  }

  #Main-Nav, #User-Nav {
    ul {
      padding-left: 30px;

      li {
        display: block;
        margin-bottom: 7px;

        a {
          text-decoration: none;
          font-weight: 400;
          color: @fgreene;
          font-size: 14px;
          padding: 8px 5px;
          letter-spacing: .1em;
          /*text-shadow: -1px -1px 0px #fff;*/
          text-transform: uppercase;

          &.active {
            color: @forange;
          }
        }
      }

      ul {
        padding-left: 16px;
        margin-bottom: 7px;
        height: auto;

        li {
          margin-bottom: 3px;
        }
      }
    }

    .login-buttons {
      /*.position(absolute, auto, auto, 30px, 0);*/
      margin-top: 60px;
    }
  }

  hr {
    width: 90%;
    border: 1px solid aliceblue;
  }
}

