@import '{}/imports/ui/styles/utils.less';

#customers-admin {
	
	#CustomersToolbar {
		width: 100%;
		height: 100px;
		background-color: #999;

		.subscriber-buttons {
			position: absolute;
			right: 0;
			top: 0;
			height: 100px;

			button {
				height: 50px;
				width: 100%;
				color: #FFF;
				background-color: @color-moss;
				font-size: 15px;
				font-weight: 600;
				font-weight: 600;
				text-transform: uppercase;
				border: none;
				cursor: pointer;
			}

			#AllSubs {
				background-color: #366833;
			}
		}
	}

	#CustomersCount {
    position: absolute;
    top: 0px;
    left: 100px;
    height: 100px;
    width: 200px;
    z-index: 1;

    p {
    	margin-bottom: 0;
    	margin-top: 10px;
    }
	}

	.customers-view {

		.customers-table {

			.customer-preview {
				height: 20px;
				font-size: 13px;

				td {
					
					p {
						font-size: 15px;
						line-height: 6px;
					}
				}

				.trialing {
					background-color: #00ffdc;
				}

				.active {
					background-color: #00ff00;
				}

				.skipping {
					background-color: #ebff00;
				}

				.past_due {
					background-color: #ff6200;
				}

				.unpaid {
					background-color: #ff0000;
				}

				.canceled {
					background-color: #000000;
					color: #FFF;
				}
			}
		}
	}
}