<template name="Order_preview">
	<tr class="order-preview">
		{{#if Template.subscriptionsReady}}
		<td class="recipient-name">
			{{user.first_name}} {{user.last_name}}
		</td>
		<td class="recipient-phone">
			{{user.phone}}
		</td>
		<td class="address-line1">
			{{user.address_line_1}}
		</td>
		<td class="address-line2">
			{{user.address_line_2}}
		</td>
		<td class="address-city">
			{{user.address_city}}
		</td>
		<td class="address-zipcode">
			{{user.address_zipcode}}
		</td>
		<td class="address-state">
			{{user.address_state}}
		</td>
		<td class="address-country">
			USA
		</td>
		<td class="delivery-notifications">
			TRUE
		</td>
		<td class="recipient-notes">
			{{delivery_comments}}
		</td>
		<td class="complete-after">
			{{completeAfter}}
		</td>
		<td class="complete-before">
			{{completeBefore}}
		</td>
		<td class="order-paid-at">
			{{paid_at}}
		</td>
		<td class="order-number">
			{{id_number}}
		</td>
		<td class="order-stripe-id">
			{{payment_id}}
		</td>
		<td class="recipient-name">
			{{user.first_name}} {{user.last_name}}
		</td>
		<td class="customer-email">
			{{user.email}}
		</td>
		<td class="delivery-day">
			{{deliv_day}}
		</td>
		<td class="delivery-zone">
			Zone
		</td>
		<td class="order-status">
			{{status}}
		</td>
		<td class="dietary-restrictions">
			{{#each restriction in restrictions}}
			{{restriction}}<br>
			{{/each}}
		</td>
		<td class="order-items {{fufilledItemClass}}">
			{{#each dish in dishList}}
			{{dish.value}} {{dish.name}}<br>
			{{fufilledItemClass}}
			{{/each}}
		</td>
		<td class="order-plates">
			{{#each plate in plateList}}
			{{plate.value}} {{plate.name}}<br>
			{{/each}}
		</td>
		<td class="order-snacks">
			{{#each snack in snackList}}
			{{snack.value}} {{snack.name}}<br>
			{{/each}}
		</td>
		<td class="order-drinks">
			{{#each drink in drinkList}}
			{{drink.value}} {{drink.name}}<br>
			{{/each}}
		</td>
		<td class="delivery-fee">
			{{delivery_fee}}
		</td>
		<td class="sale-amount">
			{{subtotal}}
		</td>
		<td class="tax-amount">
			{{sales_tax}}
		</td>
		<td class="total-amount">
			{{total}}
		</td>
		<td class="coupon">
			{{discount.promo.type}}
			{{discount.promo.code}}
			{{discount.promo.description}}
			{{discount.value}}
		</td>
		<td class="notes">
			{{user.notes}}
		</td>
		{{/if}}
	</tr>
</template>